<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <p><span class="h4">Listado de Dispositivos</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-dark btn-sm float-right" routerLink="/create-device">Agregar</button></p>
           
            <table   class="table mt-5 table table-striped">
                
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Dirección IP</th>
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dispositivos of dispositivos">
                    <th scope="row">1</th>
                    <td>{{dispositivos.nombre}}</td>
                    <td>{{dispositivos.descripcion}}</td>
                    <td>{{dispositivos.direccionip}}</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info" [routerLink]="['/editDevice/',dispositivos.id]"></i>  &nbsp;
                        <i (click)="eliminarDispositivo(dispositivos.id)" class="fas fa-trash fa-lg text-danger"></i>
                    </td>
                 
                </tbody>
              </table>
             
        </div>
    </div>
</div>